@import url('https://fonts.googleapis.com/css2? family= Noto+Sans+JP:wght@600 & family= Open+Sans & display=swap');

:root {
    --color: rgba(0, 157, 255, 0.649);
    --color02: rgba(30, 0, 255, 0.32);
    --font: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    outline: 0;

}

body {
    background-color: var(--color);
    margin:0;
    padding:0;
}

.container {
    max-width:640px;
    margin:auto;
    background-color: white;
    padding:20px;
    border-radius: 20px;
    margin-top:50px;
    margin-bottom:50px;
    font-family: var(--font);
    font-size: 1.3em;
    line-height: 1.5em;
    border-radius: 20px;
    

}

form input, form label, form button {
    display: block;
    width:100%;
    margin-bottom:10px;

}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--color);

}

form button {
    border:none;
    background-color: var(--color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height:50px;
    cursor: pointer;
    margin-top: 30px;
}


form button:hover {
    background-color: var(--color02);
}

