body {
    background-color: rgba(0, 0, 255, 0.582);
}

.container {
    margin-top:300px;
    max-width:600px;
    height:250px;
    background-color: white;
    text-align: center;
    margin:auto;
    border-radius: 20px;
    
}

.relogio {

    font-size: 3em;
}

.pausado {
    color: red;

}